{% extends "base.html" %}



{% block content %}

<h1>Event List</h1>
    <div>
        {% for event in events %}
        <h4>Date</h4>
        <p>{{event.date}}</p>
        <h4>Event Name</h4>
        <p>{{event.name_of_event}}</p>
        <h4>Number of Guests</h4>
        <p>{{event.number_of_guests}}</p>
        {% endfor %}
    </div>

<h2>Add New Event</h2>    
    <form action="/events" method="post">
        <Date for="date">Date</label>
        <input type="text" name="date" id="date">

        <label for="name_of_event">Name of Event</label>
        <input type="text" name="name_of_event" id="name_of_event">

        <label for="number_of_guests">Number of Guests</label>
        <input type="text" name="number_of_guests" id="number_of_guests">

        <label for="room_location">Room Location</label>
        <input type="text" name="room_location" id="room_location">

        <label for="description">Description</label>
        <textarea name="description" id="description" rows="1" cols="4"></textarea>

        <input type="submit" value="Add Event">

        </form>

{% endblock %}